/*  Page number and Sorting  */

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.item-sorting {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.item-sorting .result-column {
    position: relative;
    display: block;
    color: #777777;
    top: 12px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.select-box .ui-state-default {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #e5e5e5 !important;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    outline: medium none;
    cursor: pointer;
    border-radius: 10px;
    width: 210px !important;
}

.select-box .ui-selectmenu-button span.ui-icon::before {
    color: #222222;
    content: "\003e";
    font-weight: 700;
    font-size: 15px;
    overflow: visible;
    position: absolute;
    right: 21px;
    top: 12px;
}

.select-box .ui-selectmenu-button span.ui-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 60px;
    height: 48px;
    text-indent: 0;
    margin: 0;
}

.select-box .ui-selectmenu-button span.ui-selectmenu-text {
    display: block;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 19px;
    text-align: left;
    margin-right: 0px;
    text-overflow: ellipsis;
}

.ui-selectmenu-open {
    transform: scaleY(1);
}

.ui-selectmenu-open .ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
    border-radius: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
}

.ui-selectmenu-open .ui-menu .ui-menu-item {
    border-bottom: 1px solid #efebea;
    position: relative;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    transition: all 500ms ease;
}

.ui-selectmenu-open .ui-widget-content .ui-state-focus {
    background: #ff7162;
    color: #fff;
    border: none;
}


/*  Page number and Sorting Ended  */

.wphpc-main-wrapper {
    border: 0px solid #CCC;
    display: grid;
    grid-gap: 20px;
}

.wphpc-main-wrapper .wphpc-item {
    min-height: 100px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    display: block;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 20px;
    padding: 10px 15px 33px 15px;
}

.wphpc-main-wrapper .wphpc-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.wphpc-main-wrapper .wphpc-item .wphpc-image-box {
    height: 150px;
    width: 100%;
    display: block;
    margin-bottom: 51px;
}

.wphpc-main-wrapper .wphpc-item .wphpc-image-box img {
    border: 0px solid #FF0000;
    height: 100%;
    width: auto;
}

.wphpc-main-wrapper .wphpc-item a.wphpc-product-title-link {
    border: 0px solid #000;
    display: inline-block;
    width: 100%;
    outline: none;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #2b3c6b;
    font-weight: 700;
    margin-bottom: 0px;
}

.wphpc-main-wrapper .wphpc-item a:hover {
    color: #999;
}

.wphpc-main-wrapper .wphpc-item a.active {
    color: #242424;
}

.wphpc-main-wrapper .wphpc-item a:active {
    outline: none;
    text-decoration: none!important;
}

.wphpc-main-wrapper .wphpc-item span {
    font-size: 12px;
    display: inline-block;
    border: 0px solid #000;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px!important;
    line-height: 24px;
}

.regular-price span.wphpc-price {
    display: inline;
    border: 0px solid #000;
    width: 100%;
    margin: 0px!important;
    padding: 0px!important;
    color: #ff7162;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.regular-price span.wphpc-price.single {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.regular-price span.price-before {
    color: #ff7162;
    text-decoration: line-through;
    font-style: italic;
}

.regular-price span.price-after {
    color: #13b651;
}


/* Buynow Button */

a.wphpc-buy-now-btn:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

a.wphpc-buy-now-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #253b70;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.2, 1);
    transform: scale(0.2, 1);
}

a.wphpc-buy-now-btn {
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 17px 40px;
    line-height: 26px;
    color: #ffffff !important;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 500ms ease;
    z-index: 1;
    background-color: #ff7162;
}


/* Pagination */

.wphpc-pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wphpc-pagination .page-numbers li,
div.wphpc-pagination>ul.page-numbers>li>span.page-numbers,
div.wphpc-pagination>ul.page-numbers>li>a.page-numbers {
    margin: 0 2px 0 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    height: 60px;
    font-weight: 700;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
    border: 1px solid #e7e7e7;
    color: #2b3c6b;
}

div.wphpc-pagination>ul.page-numbers>li>span.page-numbers.current,
div.wphpc-pagination>ul.page-numbers>li>a.page-numbers:hover {
    background: #ff7162;
    border: 1px solid #ff7162;
    color: #FFF;
}


/* Details Page css */

.wphpc-details-wrapper {
    width: 100%;
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    border: 0px solid #000;
}

.wphpc-details-wrapper .wphpc-details-image {
    min-height: 100px;
    width: 500px;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 40px;
}

.wphpc-details-wrapper .wphpc-details-image img {
    width: 100%;
    height: auto;
    border: none;
}

.wphpc-details-wrapper .wphpc-details-description {
    border: 0px solid #000;
    flex: 1;
}

.wphpc-details-wrapper .wphpc-details-description h2.wphpc-details-book-title {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 40px;
    color: #2b3c6b;
    font-weight: 900;
    margin-bottom: 21px;
}

.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table {
    border: 0px solid #CCC;
    width: 100%;
}

.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table td {
    border: 0;
    padding-left: 0px;
}

.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table td .wphpc-single-stock,
.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table td.wphpc-single-tbl-left {
    width: 100px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    color: #2b3c6b;
    margin-right: 5px;
}

.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table td .wphpc-single-stock.in {
    color: #13b651;
}

.wphpc-details-wrapper .wphpc-details-description table.wphpc-single-info-table td .wphpc-single-stock.out {
    color: #ff7162;
}

.wphpc-details-wrapper .wphpc-details-description .wphpc-short-description p,
.wphpc-details-wrapper .wphpc-details-description .wphpc-short-description span,
.wphpc-details-description-content p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #615e5d;
    margin-bottom: 0px;
    font-style: normal;
    transition: all 500ms ease;
}

.wphpc-details-wrapper .wphpc-details-description span b {
    color: #242424;
    width: 100px;
    border: 0px solid #FF0000;
    display: inline-block;
}

.wphpc-details-wrapper .wphpc-details-description-full {
    border: 0px solid #000;
    margin-top: 20px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.wphpc-details-wrapper .wphpc-details-description-full .wphpc-details-description-title {
    border-bottom: 1px solid #CCC;
    padding: 15px 0;
    margin: 50px 0;
}

.wphpc-details-wrapper .wphpc-details-description-full .wphpc-details-description-title span {
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    border: 1px solid #e5e5e5;
    border-radius: 10px 10px 0 0;
    padding: 16px 31px 16px 30px;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
    transition: all 500ms ease;
    background: #ff7162;
    border-color: #ff7162;
}

.wphpc-details-wrapper .wphpc-details-description-full .wphpc-details-description-content {
    padding: 0 8px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media only screen and (min-width: 1025px) {
    .wphpc-main-wrapper.wphpc-product-column-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .wphpc-main-wrapper.wphpc-product-column-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .wphpc-main-wrapper.wphpc-product-column-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1024px) and (min-width: 766px) {
    .wphpc-main-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .wphpc-details-wrapper {
        display: block;
        width: 100%;
    }
    .wphpc-details-wrapper .wphpc-details-image {
        width: 100%;
        display: inline-block;
        padding: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .wphpc-details-wrapper .wphpc-details-image img {
        width: 300px;
        margin: 0 auto;
    }
    .wphpc-details-wrapper .wphpc-details-description {
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .wphpc-main-wrapper {
        grid-template-columns: 100%;
    }
    .wphpc-main-wrapper .wphpc-item {
        width: 100%;
    }
    .wphpc-main-wrapper .wphpc-item img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .wphpc-details-wrapper {
        display: block;
        width: 100%;
    }
    .wphpc-details-wrapper .wphpc-details-image {
        width: 100%;
        display: inline-block;
        padding: 10px;
        margin-bottom: 30px;
    }
    .wphpc-details-wrapper .wphpc-details-description {
        padding: 10px;
    }
}