/*  Page number and Sorting  */

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.item-sorting {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.item-sorting .result-column {
    position: relative;
    display: block;
    color: #777777;
    top: 12px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.select-box .ui-state-default {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #e5e5e5 !important;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    outline: medium none;
    cursor: pointer;
    border-radius: 10px;
    width: 210px !important;
}

.select-box .ui-selectmenu-button span.ui-icon::before {
    color: #222222;
    content: "\003e";
    font-weight: 700;
    font-size: 15px;
    overflow: visible;
    position: absolute;
    right: 21px;
    top: 12px;
}

.select-box .ui-selectmenu-button span.ui-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 60px;
    height: 48px;
    text-indent: 0;
    margin: 0;
}

.select-box .ui-selectmenu-button span.ui-selectmenu-text {
    display: block;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 19px;
    text-align: left;
    margin-right: 0px;
    text-overflow: ellipsis;
}

.ui-selectmenu-open {
    transform: scaleY(1);
}

.ui-selectmenu-open .ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
    border-radius: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
}

.ui-selectmenu-open .ui-menu .ui-menu-item {
    border-bottom: 1px solid #efebea;
    position: relative;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    transition: all 500ms ease;
}

.ui-selectmenu-open .ui-widget-content .ui-state-focus {
    background: #ff7162;
    color: #fff;
    border: none;
}


/*  Page number and Sorting Ended  */

.hmpc-loop-parent-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left {
    width: 300px;
    min-height: 100px;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-right {
    padding-left: 40px;
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
}

.wphpc-main-wrapper {
    border: 0px solid #CCC;
    display: grid;
    grid-gap: 20px;
}

.wphpc-main-wrapper .wphpc-item {
    min-height: 100px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    display: block;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 20px;
    padding: 10px 15px 33px 15px;
}

.wphpc-main-wrapper .wphpc-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.wphpc-main-wrapper .wphpc-item .wphpc-image-box {
    height: 150px;
    width: 100%;
    display: block;
    margin-bottom: 51px;
}

.wphpc-main-wrapper .wphpc-item .wphpc-image-box img {
    border: 0px solid #FF0000;
    height: 100%;
    width: auto;
}

.wphpc-main-wrapper .wphpc-item a.wphpc-product-title-link {
    border: 0px solid #000;
    display: inline-block;
    width: 100%;
    outline: none;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #2b3c6b;
    font-weight: 700;
    margin-bottom: 0px;
    text-decoration: none;
}

.wphpc-main-wrapper .wphpc-item a:hover {
    color: #999;
}

.wphpc-main-wrapper .wphpc-item a.active {
    color: #242424;
}

.wphpc-main-wrapper .wphpc-item a:active {
    outline: none;
    text-decoration: none!important;
}

.wphpc-main-wrapper .wphpc-item span {
    font-size: 12px;
    display: inline-block;
    border: 0px solid #000;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px!important;
    line-height: 24px;
}

.regular-price span.wphpc-price {
    display: inline;
    border: 0px solid #000;
    width: 100%;
    margin: 0px!important;
    padding: 0px!important;
    color: #ff7162;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.regular-price span.wphpc-price.single {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.regular-price span.price-before {
    color: #ff7162;
    text-decoration: line-through;
    opacity: 0.7;
}

.regular-price span.price-after {
    color: #ff7162;
}


/* Buynow Button */

a.wphpc-buy-now-btn:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

a.wphpc-buy-now-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #253b70;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.2, 1);
    transform: scale(0.2, 1);
}

a.wphpc-buy-now-btn {
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 17px 40px;
    line-height: 26px;
    color: #ffffff !important;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 500ms ease;
    z-index: 1;
    background-color: #ff7162;
}


/* Pagination */

.wphpc-pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wphpc-pagination ul.page-numbers {
    margin: 0;
    padding: 0;
}

.wphpc-pagination .page-numbers li,
div.wphpc-pagination>ul.page-numbers>li>span.page-numbers,
div.wphpc-pagination>ul.page-numbers>li>a.page-numbers {
    margin: 0 2px 0 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    height: 60px;
    font-weight: 700;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
    border: 1px solid #e7e7e7;
    color: #2b3c6b;
}

div.wphpc-pagination>ul.page-numbers>li>span.page-numbers.current,
div.wphpc-pagination>ul.page-numbers>li>a.page-numbers:hover {
    background: #ff7162;
    border: 1px solid #ff7162;
    color: #FFF;
}


/* widget area started */

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .hmpc-widget-category-a-id {
    display: block;
    text-decoration: none;
    color: #2b3c6b;
    font-size: 16px;
    line-height: 26px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .hmpc-widget-category-a-id label {
    cursor: pointer;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .hmpc-widget-category-a-id:hover {
    color: #ff7162;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .single-sidebar {
    margin-bottom: 50px;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .title {
    margin-bottom: 30px;
}

.hmpc-loop-parent-wrapper .hmpc-loop-parent-left .title h3.hmpc-sidebar {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #2b3c6b;
    font-weight: 700 !important;
    margin-bottom: 0px !important;
}


/* Price Slider Started */

#price_slider_wrapper {
    border: 0px;
    border-top: 3px solid #EEE;
}

.price_slider_wrapper .ui-widget-content {
    background: #EAECEB !important;
    height: 4px !important;
    border: none !important;
    margin-bottom: 30px !important;
    border: 0px;
}

.ui-slider .ui-slider-range {
    background: #ff7162 !important;
    top: -3px;
    height: 3px;
}

.ui-slider .ui-slider-handle {
    border: 3px solid #ff7162 !important;
    top: -10px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -10px;
    position: absolute;
    z-index: 2;
    outline: 0;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4;
    font-size: .8751em;
    margin-top: 30px;
}

.price_slider_amount .button {
    position: relative !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #ffffff !important;
    padding: 5px 21px 4px 20px !important;
    border-radius: 10px !important;
    transition: all 500ms ease !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    background: #F37064;
    float: left;
}

.price_label {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #222;
    font-weight: 700;
    margin-right: 16px;
    top: 0px;
}


/* Price Slider Ended */


/* Widget area ended */


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media only screen and (min-width: 1025px) {
    .wphpc-main-wrapper.wphpc-product-column-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .wphpc-main-wrapper.wphpc-product-column-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .wphpc-main-wrapper.wphpc-product-column-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1024px) and (min-width: 766px) {
    .wphpc-main-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    .hmpc-loop-parent-wrapper .hmpc-loop-parent-left,
    .hmpc-loop-parent-wrapper .hmpc-loop-parent-right {
        float: none;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    .item-sorting .select-column {
        display: block;
        margin-top: 20px;
        float: left;
    }
    .wphpc-main-wrapper {
        grid-template-columns: 100%;
    }
    .wphpc-main-wrapper .wphpc-item {
        width: 100%;
    }
    .wphpc-main-wrapper .wphpc-item img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}